<h1>Here are all the cars at <%= @dealership.name() %>!</h1>

<ul>
  <% @dealership.cars().each() do |car| %>
    <li><a href="/vehicles/<%= car.id() %>"><%= car.make() %> <%= car.model() %> <%= car.year() %></a></li>
    <% end %>
</ul>

<h3>Add a vehicle to <%= @dealership.name() %> </h3>

  <form action="/success_c" method="post">
    <input id="dealership_id" type="hidden" name="dealership_id" value="<%= @dealership.id() %>">

    <label for="make">Vehicle's make:</label>
    <input id="make" type="text" name="make">

    <label for="model">Vehicle's model:</label>
    <input id="model" type="text" name="model">

    <label for="year">Vehicle's year:</label>
    <input id="year" type="text" name="year">

    <label for="color">Vehicle's color:</label>
    <input id="color" type="text" name="color">

    <button type="submit">Add Vehicle!</button>
  </form>

<a href="/">home</a>
